

.VerticalScrollBar{

  
  justify-items: center;
  width:40px;
  position:relative
  
}

.scrollBarRoad{


    height:183px;
    width:50%;
    background-color: green;
    margin-inline:auto
    
    
}

.scrollBarElmnt{

    height:30px;
    width:100%;
    background-color: rgb(128, 66, 0);
    position:absolute;
    inset:0;
    
    
    
}

