
.ownCreationContainer{

    overflow: hidden;
}

.ownCreationScrollBarTabletDesktop{

    display: none;
}


.ownCreationContainer-wrap{


    display: inline-flex;
    margin-top:80px;
    margin-bottom: 50px;
    gap:20px
}
.ownCreationLeft {

    width:238px;
    height: 328px;
    border-radius: 0px 15px 15px 0px;
    background: #70908B;
   
    
}

.ownCreationLeft .wrap{

    padding: 50px 0 0 15px
}

.ownCreationLeft h2 {

    font-family: var(--font-family-title);
    max-width: 13ch;
    color: #FDFBF8;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 120.6%; 
}

.ownCreationLeft h3{

color: #FDFBF8;
font-family: Open Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 141.6%; /* 25.488px */
margin-top:25px;
margin-bottom: 35px;

}

.ownCreationLeft p {

    margin-bottom: 35px;
    margin-top: 25px;
    font-family: var(--font-family-text);
    color: #FDFBF8;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 95.6%; /* 13.384px */

}

.ownCreationScrollBarMobile{

    display: inline-block;
    margin-left:4vw


}

.ownCreationRight{

    border: 1px solid blue;
   
    
    
    
}

.ownCreationRight .images{

    display: inline-flex;
    gap:20px;
    padding-right:20px;
    padding-left:20px;

}
.ownCreationRight .imageBackground{

 
  width: 245px;
height: 328px;
flex-shrink: 0;
border-radius: 15px;
background: #C4C4C4;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.50);
overflow: hidden;

}

.ownCreationRight .imageBackground img{

    width:100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (min-width:728px){


    .ownCreationScrollBarMobile{

        display: none;
    }

    .ownCreationScrollBarTabletDesktop{

        display: inline-block;
    }

    .ownCreationLeft {

        width:401px;
        width:39vw;
        height: 507px;
        height: 49vw;
        border-radius: 0px 15px 15px 0px;
        background: #70908B;
       
        
    }

    .ownCreationRight{

        
       
        overflow-x: clip;
        
        
    }

    .ownCreationRight .imageBackground{

 
        width:39vw;
        height: 49vw;
      flex-shrink: 0;
      border-radius: 15px;
      background: #C4C4C4;
      box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.50);
       overflow: hidden;
      
      }

      .more_scrollBar{

        display: flex;
        align-items: center;
        gap:25px
        
      }

      .more_scrollBar p {padding:0; margin:0}

     

}

@media screen and (min-width:1024px) {

 

    .ownCreationLeft {

        width:30vw;
       
        height: 40vw;
        
    }



    .ownCreationRight .imageBackground{

 
        width:30vw;
        height: 40vw;
        
}
}