
*, *::after, *::before{

    margin:0;
    padding:0;
    box-sizing: border-box;
}

button:hover{

    scale:1.02;
    opacity: .9;
    cursor: pointer;
}

:root{

    --font-family-title: 'Roboto Condensed';
    --font-family-text:  'Open Sans';
    --btn-color:#70908B;
    
}

