
.category{

    padding-inline: 4vw;
   
}



.category-title{

font-family: var(--font-family-title);
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 48px;
/* identical to box height */


color: #07484A;
text-align: center;
margin-top:70px;
margin-bottom:31px
}

.category-searchBar-mobileIcon{


display: flex;
align-items: center;
gap:45px;
min-width:250px;
max-width: 462px;
margin-inline:auto;
margin-bottom: 50px;


}

.serach-category{

    flex:1;
    position: relative;
}

.serach-category input{


width:100%;
height: 63px;
border:none;
background: #F0F0F0;
border-radius: 10px;


}

.serach-category input::placeholder{

   
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
color: #6E757E;

padding-left: 23%;
}




.category-searchBar-mobileIcon i{
    
    position:absolute;
    inset :0;
    top: 52%;
    left: 10%;
    transform: translate(0%,-50%);
   
}

.category-links-desktop{ display: none;}

.category-images{

    display: grid;
    row-gap: 20px;
   
   
}

.category-images > * {

    background: #C4C4C4;
    border-radius: 10px;
    min-width:auto;
    min-height:auto;
    max-width: 617px;
    max-height: 345px;
    position:relative;
     overflow: hidden;

}

.allCategory-btn{

    background-color: var(--btn-color);
    font-family: var(--font-family-text);
    border-radius: 10px;
    width:265px;
    height:70px;
    font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 25px;
/* identical to box height */
color: #FFFFFF;
border:none;
display: block;
margin-inline:auto;
display: flex;
align-items: center;
justify-content: center;
gap:15px;
margin-top: 40px;

}




.category-images img{ 
    width:100%;
    height:100%;
    object-fit: cover;
    display: block;
   
}

.image-category-content{
    
    width:max-content;
    height: fit-content;
    position:absolute;
    inset: 0;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);

    text-align: center;
    
font-family: var(--font-family-title);
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 48px;

color: #FDFBF8;

}

.image-category-content .name{

    opacity: .8;
}

.image-category-content .explore{

    width:119px;
    height: 39px;
    background: #E0EFF6;
    border-radius: 5px;
    border:none;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline:auto;
  text-decoration: none;
 
  
}

.hideBtn{ display: none;}

.image-category-content .explore p{

font-family: var(--font-family-text);
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
color: #07484A;

}


.activeImageCategory{

    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    scale: 104%;
}

.category-links{

    display: none;
}

.tableDesktop-display{

    display: none;
    margin-top: 50px;
}

.category-sidebar-scrollBar{

display: none;
}

@media screen and (min-width:768px){

.category{

    display: flex;
    flex-direction: column;
}



.serach-category input{


        width:100%;
        height: 81px;
        border:none;
        background: #F0F0F0;
        border-radius: 10px;
        
        
        }  

.category-links-top {

    margin-bottom: 50px;
}

.category-images{

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
           
}

.category-mobile-icon { display: none;}

.category-links{

    max-width: 791px;
   
    margin-inline:auto;
    display: grid;
    row-gap: 40px;
    

}

.category-links-top, .category-links-bottom{

display: flex;
justify-content: center;
gap:60px;
}




.category-links-top > *,
 .category-links-bottom > *,
 .category-links-hidden > * {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    
    color: #07484A;
    text-decoration: none;
    
}


.mobile-display{

    display: none;
}

.tableDesktop-display{

    display: flex;
    margin-bottom: 37px;
}



}

@media screen and (min-width:1024px) {

    
    
.category{

   /*margin-inline: auto;*/
    
    
}

 .category-title{

    font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 85px;

color: #07484A;
margin-top: 20px;
 }  

.category-context{

/*max-width: 1620px;
width: 70%;*/

display: grid;
/*grid-template-columns: 18.177vw 1fr;*/
grid-template-columns: 28% 1fr;
/*justify-content: space-between;*/
column-gap: 2.969vw;
margin-inline:auto;
/*border: 1px solid red;*/
}

.category-sidebar {

    min-width: 349px;
    min-width:18.177vw;
    
   
    min-width: initial !important;
    max-width: initial !important;

    min-height: initial !important;
  max-height: initial !important;
}


.category-searchBar-mobileIcon{ 
    
    margin: 0;
    max-width:100%;
    min-width: auto;
    display: block;
    margin-bottom: 2vh;

}

.serach-category input{

    height:41px
}

.category-links{

    
    display: flex;
    justify-content: space-between;
    overflow-y: hidden;
    /*border: 1px solid red;*/
    height:64vh;

}


.category-links-top-bottom{

    display: none;
    
}

.category-links-desktop{

    display: grid;
    padding-left:1.5vw;
   /* border: 1px solid rgb(76, 50, 205);*/
    height:170%;
    justify-items: start;

}

.category-links-desktop > * {

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
text-align: center;

color: #07484A;
text-decoration: none;
/*border: 1px solid green*/

}


.allCategory-btn {

    margin: 0 auto;
    width: 13vw;
    height: 9vh;
    font-size: 12px;
    margin-bottom: 1vw;
    margin-top:50px
}

.tableDesktop-display{  


}



.style-link{

    /*position: static;*/
    font-weight: 700;
}



.category-images{

  
    /*grid-template-rows: repeat(3,max-content);*/

        min-width: initial !important;
    max-width: initial !important;

    min-height: initial !important;
  max-height: initial !important;
   
    
}

.category-images > * {

    height: 25vh;
   
}

img{display: block;}



.category-sidebar-scrollBar{

    display: grid;
    justify-items: center;
  
  
}


.longer-line{

   height:49vh
}

.longer-line img{ 

   height:100%
}

.circle-up{

    margin-top: 1vh;

}

.scrollBar-line{
    
    width:max-content;
    height:max-content;
    position:relative
}

.shorter-line{

    width:max-content;
    height: max-content;
    position:absolute;
    inset:0;
   
}



.shorter-line img { height: 9.8vh; width:.25vw}

.longer-line{


}

.circle-up > *,
 .circle-down > *,
 .circle-down,
 .circle-up
  {

    width: max-content;
    height: max-content;
}



.circle-down,
.circle-up{

    position:relative;
    margin-bottom: 1vh;
}

.up-circle , .down-circle{

width: 2.083vw;
height: 2.083vw

}

.up-circle img,
.down-circle img{ width:100%}



.up-circle-arrow,
.down-cirlce-arrow {

    position: absolute;
    inset: 0;
    margin:auto
}



    
}


@media screen and (min-width: 1440px){
 
    
    .allCategory-btn{

        font-size: 18px;
    }

    .category-links-desktop > * 
    
 {

    font-size: 24px;
}
}