
.popularProducts{

   width:100%;
  /* border:1px solid red;*/
   overflow: hidden;
}

.popular-products-images > :nth-child(1)
{ border-radius: 10px;
    background: #CAF3E5;}

.popular-products-images > :nth-child(2)
{border-radius: 10px;
    background: #E0EFF6;}

.popular-products-images > :nth-child(3)
 {border-radius: 10px;
    background: #EEEBFF;}

.popular-products-images > :nth-child(4)
  {border-radius: 10px;
    background: #FFF4E7;}

.popular-products-images > :nth-child(5)
      {border-radius: 10px;
          background: #fbf4ec;}

.popular-products-images > :nth-child(6)
 {border-radius: 10px;
    background: #f3f0ec;}

    


.popularProducts-title{

    font-family: var(--font-family-title);
    text-align: center;
    font-size:36px;
    margin-top:70px;
    margin-bottom:20px

}

.popularProduct-name{

    color: #70908B;
font-size: 18px;
font-family: var(--font-family-text);
font-weight: 700;
}

.popularProduct-description{

    color: #70908B;
font-size: 16px;
font-family: var(--font-family-text);
font-weight: 400;

}

.popularProduct-price{

    color: #70908B;
    font-size: 20px;
    font-family: var(--font-family-text);
    font-weight: 700;

}


.popular-products-images {

    display: inline-flex;
   /* margin-left:8.213vw;*/
    gap:10px
}

.popularProducts button {

width:250px;
height:70px;
border-radius: 8px;
background: #70908B;
color:white;
margin-inline:auto;
border:none;
display:block;
color: #FDFBF8;
font-size: 18px;
font-family: Open Sans;
font-weight: 700;

}

.popularProduct {

   width:237px;
   height: 340px;
   padding:1%;
   display: grid;
  

}

.popularProduct img {
    
display: block;  
width:90%;
margin-inline:auto
   
}

.scrollBarContainer-mobile-tablet{

    display: block;
    /*margin-left:3.865vw;*/
    margin-top:80px;
    margin-bottom: 40px;
}

.scrollBarContainer-desktop{ display: none; margin-inline:auto}

@media screen and (min-width:1024px) {


    .popularProducts-title{

        margin-top:180px;
        margin-bottom:100px;
        color: #07484A;
    font-size: 64px;
    
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    }

    .popular-products-images{

        margin-bottom:74px
    }



    .scrollBarContainer-mobile-tablet{

        display: none;
        
    }
    
    .scrollBarContainer-desktop{ 

        display: block; 
        text-align: center;
       
        
       
    } 
    
}