

.VerticalScrollBar-container{

  display: grid;
  justify-items: center;
  align-content: space-between;
}

.VerticalScrollBar{


  width:10px;
  position:relative;
 
 
  
}

.scrollBarRoad{


    
    width:2px;
    background: #07484A;
    margin-inline:auto
    
    
}

.scrollBarElmnt{

    height:30px;
    width:100%;
    background: #70908B;
    position:absolute;
    inset:0;
    
    
    
}

.btnsScrollBar{
  width:max-content;
  height:max-content;
  margin-bottom:10px
}

.btnUp, .btnDown{position: relative; width:max-content }

.btnUp { margin-bottom: 14px; } 


.arrow{

  position: absolute;
  inset:0;
  margin: auto;
}

